@model HomeViewModel

<section class="generic-banner relative">
    <div class="container">
        <div class="row height align-items-center justify-content-center">
            <div class="col-lg-10">
                <div class="generic-banner-content">

                    <div class="row justify-content-center align-items-center flex-column pb-30">
                        <h1>Lägg till nytt kreditkort</h1>
                    </div>
                    <div class="row justify-content-center align-items-start">
                        <form asp-action="CreateCreditCard" asp-controller="Home" method="post">
                            <div class="col-lg-12 cols">
                                <p class="mt-1 mb-0">Kortnummer</p>
                                <input type="number" minlength="14" maxlength="14" min="0" placeholder="14 siffror..." class="form-control" asp-for="@Model.NewCardNumber">
                                <p class="mt-1 mb-0">Korttyp</p>
                                <input type="text" placeholder="Korttyp" class="form-control" list="select-list-id" asp-for="@Model.NewCardType" />
                                <datalist id="select-list-id" asp-for="@Model.NewCardType">
                                    @foreach (var cardType in Model.AllCardTypes)
                                    {
                                        <option value="@cardType">@cardType</option>
                                    }
                                </datalist>
                                <p class="mt-1 mb-0">Månad</p>
                                <input type="number" min="1" max="12" placeholder="Månad" class="form-control" asp-for="@Model.NewExpMonth">
                                <p class="mt-1 mb-0">År</p>
                                <input type="number" min="@DateTime.Now.Year" class="form-control" asp-for="@Model.NewExpYear">
                                <button type=submit class="btn btn-success mt-3">Skapa kort</button>
                            </div>
                        </form>
                    </div>
                    <span> @Html.ValidationSummary(false, "", new { @class = "text-danger" })</span>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About Generic Start -->
<div class="main-wrapper">
    <!-- Start service Area -->
    <section class="service-area pt-100" id="feature">
        <div class="container">
            <h3>Kortlista</h3>
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Korttyp</th>
                            <th scope="col">Kortnummer</th>
                            <th scope="col">Utgångsdatum</th>
                            <th scope="col">Uppdaterad</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var creditCard in Model.AllCreditCards)
                        {
                            <tr>
                                <td scope="row">@creditCard.CreditCardId</td>
                                <td>@creditCard.CardType</td>
                                <td>@creditCard.CardNumber</td>
                                <td>@creditCard.ExpMonth - @creditCard.ExpYear</td>
                                <td>@creditCard.ModifiedDate</td>
                                <form asp-action="DeleteCreditCard" asp-controller="Home" method="post">
                                    <input type="hidden" value=@creditCard.CreditCardId asp-for=@Model.CardToDeleteId/>
                                    <td><input type="submit" value="Radera kort" class="btn btn-danger"/> </td>
                                </form>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @Html.Partial("_Pager", Model.PagingViewModel)

        </div>
    </section>
</div>